<div ng-include="'modules/home/views/navbar.html'"></div>
<section id="about" class="home-section text-center">
	<div class="heading-about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
						<div class="section-heading">
							<h2>About us</h2>
							<i class="fa fa-2x fa-angle-down"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
				<div class="wow bounceInUp" data-wow-delay="0.2s">
	                <div class="team">
	                    <div class="inner">
	                        <div class="avatar">
	                        	<p>
									Upshift Express Inc. is a logistics company that provides fast and reliable delivery to addresses nationwide, 
									and aiming to simplify customers' lives by our customer oriented service. Tapping the eCommerce industry, 
									we have included innovative services, such as Collect On Delivery and Same Day Delivery, 
									making it possible for online sellers and buyers to have transactions fast and hassle-free.
								</p>
	                        </div>
	                    </div>
	                </div>
				</div>
            </div>
        </div>		
	</div>
</section>
<!-- /Section: about -->