<div ng-include="'modules/home/views/navbar.html'"></div>
<section id="intro" class="intro">
    <div class="slogan">
        <h2 class="wow bounceInDown" data-wow-delay="1s">
            <img src="img/svgs/upshift2.svg" style="width:60%">
        </h2>
        <!-- <h2>WELCOME TO <span style="color:#ff69b4;">UPSHIFT EXPRESS</span></h2> -->
        <h4 class="wow bounceInLeft" data-wow-delay="2s">
            <span class="upshift-color">FREE</span> PICKUP. 
            <span class="upshift-color">NO</span> MINIMUM. 
            <span class="upshift-color">CHEAPER</span> RATES.
       </h4>
    </div>
    <div class="page-scroll">
        <h1 class="wow bounceInUp" data-wow-delay="2s">
            <span style="color:#FFF">We take things a gear higher</span>
        </h1>
        <br />
        <br />
        <span class="wow bounceInUp" data-wow-delay="2s">
            <a href="#/register" class="btn btn-default btn-lg" style="background-color:#ff69b4;color:#FFF;">REGISTER TODAY!</a>
        </span>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</section>
