<div ng-include="'modules/home/views/navbar.html'"></div>
<section id="service" class="home-section text-center bg-gray">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Our Services</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="panel panel-default text-left">
            <div class="panel-body">
                <h4>Disclaimer</h4> All rates are VAT inclusive.
                <br /> For CustomPAC, chargeable weight is ACTUAL vs VOLUMETRIC/DIMENSIONAL weight, whichever is higher.
                <br /> To compute, Length x Width x Height (cm) / 3500 = volumetric wt.
                <br /> Maximum chargeable weight per shipment is up to 15kg.
                <br /> Free insurance of Php 500.00. Additional 1% in excess of the free insurance.
                <br />
            </div>
        </div>
        <div class="row text-left">
            <div class="col-lg-12">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon"></div>
                        <div class="service-desc">
                            <h4>Next Day Delivery : <small>PACKAGE IS DELIVERED WITHIN THE NEXT WORKING DAY</small></h4>
                            
                            <h5>Metro Manila</h5>
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chargeable Weight</th>
                                        <th>Rates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Small <br /> 
											(9 x 14 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>40.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Large <br /> 
											(12 x 18 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>60.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		CustomPAC <br /> 
											(Own Packaging)
                                    	</td>
                                    	<td>Does not fit ShiftPAC</td>
                                    	<td>
                                    		125.00 <br /> 
											(+) Php 5.00 per kilo
                                    	</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br />

                            <h5>Rizal - Metro Manila</h5>
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chargeable Weight</th>
                                        <th>Rates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Small <br /> 
											(9 x 14 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>40.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Large <br /> 
											(12 x 18 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>60.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		CustomPAC <br /> 
											(Own Packaging)
                                    	</td>
                                    	<td>Does not fit ShiftPAC</td>
                                    	<td>
                                    		PHP 60.00 (first 3KG) <br /> 
											(+) Php 20.00 / additional kilo
                                    	</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br />

                            <h5>Metro Manila - Rizal</h5>
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chargeable Weight</th>
                                        <th>Rates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Small <br /> 
											(9 x 14 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>75.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Large <br /> 
											(12 x 18 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>130.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		CustomPAC <br /> 
											(Own Packaging)
                                    	</td>
                                    	<td>Does not fit ShiftPAC</td>
                                    	<td>
                                    		PHP 130.00 (first 3KG) <br /> 
											(+) Php 20.00 / additional kilo
                                    	</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon"></div>
                        <div class="service-desc">
                            <h4>Same Day Delivery : <small>PACKAGE IS PICKED UP AND DELIVERED WITHIN THE DAY</small></h4>
                            
                            <p>Cut Off Time: 12:00PM Monday - Saturday</p>

                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chargeable Weight</th>
                                        <th>Rates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Small <br /> 
											(9 x 14 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>BASE RATE</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Large <br /> 
											(12 x 18 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>BASE RATE + PHP 20.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		CustomPAC <br /> 
											(Own Packaging)
                                    	</td>
                                    	<td>Does not fit ShiftPAC</td>
                                    	<td>
                                    		BASE RATE + PHP 50.00 <br /> 
											(+) Php 10.00 per kilo
                                    	</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h5>Base Rates</h5>
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                    	<th></th>
                                        <th class="text-center">NORTH A</th>
                                        <th class="text-center">NORTH B</th>
                                        <th class="text-center">NORTH C</th>
                                        <th class="text-center">WEST</th>
                                        <th class="text-center">CENTRAL A</th>
                                        <th class="text-center">CENTRAL B</th>
                                        <th class="text-center">EAST</th>
                                        <th class="text-center">SOUTH A</th>
                                        <th class="text-center">SOUTH B</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<th class="text-center">NORTH A</th>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">175.00</td>
                                    </tr>
                                    <tr>
                                    	<th class="text-center">NORTH B</th>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">175.00</td>
                                    </tr>
                                    <tr>
                                    	<th class="text-center">NORTH C</th>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">175.00</td>
                                    </tr>
                                    <tr>
                                    	<th class="text-center">WEST</th>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">175.00</td>
                                    </tr>
                                    <tr>
                                    	<th class="text-center">CENTRAL A</th>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    </tr>
                                    <tr>
                                    	<th class="text-center">CENTRAL B</th>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">175.00</td>
                                    </tr>
                                    <tr>
                                    	<th class="text-center">EAST</th>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    </tr>
                                    <tr>
                                    	<th class="text-center">SOUTH A</th>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">115.00</td>
                                    	<td class="text-center">135.00</td>
                                    </tr>
                                    <tr>
                                    	<th class="text-center">SOUTH B</th>
                                    	<td class="text-center">175.00</td>
                                    	<td class="text-center">175.00</td>
                                    	<td class="text-center">175.00</td>
                                    	<td class="text-center">175.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">175.00</td>
                                    	<td class="text-center">155.00</td>
                                    	<td class="text-center">135.00</td>
                                    	<td class="text-center">115.00</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h5>Serviceable Areas</h5>
                            <table class="table table-stripped">
                            	<thead>
                            		<tr>
                            			<th class="text-center">SOUTH A</th>
                            			<th class="text-center">SOUTH B</th>
                            			<th class="text-center">EAST</th>
                            			<th class="text-center">CENTRAL A</th>
                            			<th class="text-center">CENTRAL B</th>
                            			<th class="text-center">WEST</th>
                            			<th class="text-center">NORTH A</th>
                            			<th class="text-center">NORTH B</th>
                            			<th class="text-center">NORTH C</th>
                            		</tr>
                            	</thead>
                            	<tbody>
                            		<tr>
                            			<td class="text-center">Paranaque</td>
                            			<td class="text-center">Muntinlupa</td>
                            			<td class="text-center">Pasig</td>
                            			<td class="text-center">Pasay</td>
                            			<td class="text-center">Project 2</td>
                            			<td class="text-center">Malate</td>
                            			<td class="text-center">Port Area</td>
                            			<td class="text-center">Navotas</td>
                            			<td class="text-center">Fairview</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center">Taguig</td>
                            			<td class="text-center">Las Pinas</td>
                            			<td class="text-center">Marikina</td>
                            			<td class="text-center">Makati</td>
                            			<td class="text-center">Project 3</td>
                            			<td class="text-center">Sta. Ana</td>
                            			<td class="text-center">Tondo</td>
                            			<td class="text-center">Malabon</td>
                            			<td class="text-center">East Fairview</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center">Pateros</td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Libis</td>
                            			<td class="text-center">Mandaluyong</td>
                            			<td class="text-center">Project 4</td>
                            			<td class="text-center">Punta Sta. Ana</td>
                            			<td class="text-center">Binondo</td>
                            			<td class="text-center">Valenzuela</td>
                            			<td class="text-center">West Fairview</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center">Pembo (Makati)</td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Saint Ignacio</td>
                            			<td class="text-center">San Juan</td>
                            			<td class="text-center">Project 6</td>
                            			<td class="text-center">San Andres</td>
                            			<td class="text-center">Sampaloc</td>
                            			<td class="text-center">West Grace Park</td>
                            			<td class="text-center">North Fairview</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center">Rizal (Makati)</td>
                            			<td class="text-center"></td>
                            			<td class="text-center">White Plains</td>
                            			<td class="text-center">Valencia</td>
                            			<td class="text-center">Project 7</td>
                            			<td class="text-center">Pandacan</td>
                            			<td class="text-center">Sta. Cruz</td>
                            			<td class="text-center">East Grace Park</td>
                            			<td class="text-center">Pasong Putik</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center">Comembo (Makati)</td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Corinthian Garden</td>
                            			<td class="text-center">Kaunlaran</td>
                            			<td class="text-center">Project 8</td>
                            			<td class="text-center">Paco</td>
                            			<td class="text-center">Ermita</td>
                            			<td class="text-center">Bagong Barrio</td>
                            			<td class="text-center">Greater Lagro</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Corinthian Hills</td>
                            			<td class="text-center">Horse Shoe</td>
                            			<td class="text-center">Bago Bantay</td>
                            			<td class="text-center">Sta. Mesa</td>
                            			<td class="text-center">Dona Josefa</td>
                            			<td class="text-center">Dagat-dagatan</td>
                            			<td class="text-center">Novaliches</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Blue Ridge</td>
                            			<td class="text-center">Damayan Lagi</td>
                            			<td class="text-center">SFDM</td>
                            			<td class="text-center">Santol</td>
                            			<td class="text-center">Don Manuel</td>
                            			<td class="text-center">Balintawak</td>
                            			<td class="text-center">Malaria</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Green Meadows</td>
                            			<td class="text-center">Mariana</td>
                            			<td class="text-center">Tandang Sora</td>
                            			<td class="text-center">Sto. Nino</td>
                            			<td class="text-center">Sta. Mesa Heights</td>
                            			<td class="text-center">Maypajo</td>
                            			<td class="text-center">Sodier's Hills</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Phil Am</td>
                            			<td class="text-center">Pasong Tamo</td>
                            			<td class="text-center">Galas</td>
                            			<td class="text-center">Tatalon</td>
                            			<td class="text-center">A. Mabini</td>
                            			<td class="text-center">Camarin</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Laging Handa</td>
                            			<td class="text-center">Culiat</td>
                            			<td class="text-center">Dona Imelda</td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Sangandaan</td>
                            			<td class="text-center">Bagumbong</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Laging Handa</td>
                            			<td class="text-center">Culiat</td>
                            			<td class="text-center">Dona Imelda</td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Sangandaan</td>
                            			<td class="text-center">Bagumbong</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Roxas</td>
                            			<td class="text-center">Loyola Heights</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Bagong Silang</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Paligsahan</td>
                            			<td class="text-center">Cubao</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Sta. Quiteria</td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Pinyahan</td>
                            			<td class="text-center">Holy Spirit</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Teacher's Village</td>
                            			<td class="text-center">Commonwealth</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">U.P Village</td>
                            			<td class="text-center">Batasan Hills</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Krus na Ligtas</td>
                            			<td class="text-center">Payatas A</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Diliman</td>
                            			<td class="text-center">Payatas B</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">Sikatuna Village</td>
                            			<td class="text-center">Payatas C</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">San Martin de Pores</td>
                            			<td class="text-center">Payatas D</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">New Manila</td>
                            			<td class="text-center">Bagong Silang</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">West Triangle</td>
                            			<td class="text-center">Pag-asa</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            		<tr>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center">South Triangle</td>
                            			<td class="text-center">Baesa</td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            			<td class="text-center"></td>
                            		</tr>
                            	</tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon"></div>
                        <div class="service-desc">
                            <h4>Collect On Delivery : <small>AVAILABLE FOR NEXT DAY AND SAME DAY DELIVERIES</small></h4>
                            
                            <h5>For Next Day Delivery</h5>
                            <p>
                            	Cut-off Time: <br /> 
                            	<ul class="no-bullet">
                            		<li>Metro Manila - 2:00 PM Monday-Saturday</li>
                            		<li>Rizal - 1:00 PM Monday-Saturday</li>
                            	</ul>
                            </p>

                            <h5>Metro Manila / Rizal - Metro Manila</h5>
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chargeable Weight</th>
                                        <th>Rates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Small <br /> 
											(9 x 14 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>60.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Large <br /> 
											(12 x 18 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>80.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		CustomPAC <br /> 
											(Own Packaging)
                                    	</td>
                                    	<td>Does not fit ShiftPAC</td>
                                    	<td>
                                    		PHP 80.00 (first 3KG)
											(+) Php 20.00 / additional kilo
                                    	</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br />

                            <h5>Metro Manila - Rizal</h5>
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chargeable Weight</th>
                                        <th>Rates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Small <br /> 
											(9 x 14 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>95.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		ShiftPAC-Large <br /> 
											(12 x 18 inches)
                                    	</td>
                                    	<td>UNLI-WEIGHT</td>
                                    	<td>150.00</td>
                                    </tr>
                                    <tr>
                                    	<td>
                                    		CustomPAC <br /> 
											(Own Packaging)
                                    	</td>
                                    	<td>Does not fit ShiftPAC</td>
                                    	<td>
                                    		PHP 150.00 (first 3KG) <br /> 
											(+) Php 20.00 / additional kilo
                                    	</td>
                                    </tr>
                                </tbody>
                            </table>

                             <br />

                             <h5>For Same Day Delivery</h5>
                             <p>
                             	It's FREE! COD is already inclusive in the Same Day Delivery Rate. <br /> <br />

                             	Cut-off Time:
                             	<ul>
                             		<li>12:00 PM - Monday-Saturday</li>
                             	</ul>
                             </p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>           
</section>
